.header {
  border-bottom: 1px solid #cccccc;
  height: 50px;
}

.title {
  display: block;
  box-sizing: border-box;
  padding-left: 20px;
  width: 50vw;
  font-size: 30px;
  color: #f6682F;
  line-height: 50px;
  float: left;
}

.search-bar {
  display: block;
  margin: 20px auto;
  width: 80%;
}

.search-bar form input[type=text] {
  display: block;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
}

.events-sidebar {
  box-sizing: border-box;
  float: right;
  display: block;
  width: 25vw;
  height: calc(100vh - 50px);
  border-left: 1px solid #cccccc;
}

.btn-group {
  box-sizing: border-box;
  width: 80%;
  margin: 20px auto;
  display: block;
  float: none;
}

.btn-group>.btn {
  float: none;
  position: none;
}

/*Events*/

.events-list {
  width: 75vw;
  height: calc(100vh - 50px);
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  align-content: flex-start;
}

.events-list .list-item {
  width: 175px;
  height: 80px;
  border: 1px solid #cccccc;
  color: #1178bd;
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-left: 40px;
  overflow: hidden;
  box-sizing: border-box;
}

.list-item-title {
  height: 20px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 5px;
  white-space: nowrap;
}

/*Create Events Form*/

.create-event-form {
  margin: auto;
  display: block;
  width: 100%;
}

.create-event-form-header {
  display: block;
  margin: 20px auto;
  width: 80%;
  color: #f6682F;
  font-size: 20px;
}

.create-event-form-title {
  margin: auto;
  display: block;
  border-radius: 5px;
  width: 80%;
  padding: 5px;
  border: 1px solid #cccccc;
}

.selected-date-button {
  width: 80%;
  margin: 10px auto;
  display: block;
  color: #97bf11;
}

.btn-primary {
  margin: 20px auto;
  display: block;
  width: 80%;
  padding: 5px;
}

/*Error-Alerts*/

.error-alert {
  outline: 5px auto #f45042;
  outline-offset: -2px;
}
